doctype html
html(data-ng-app='filterApp')
    head
        title= title
        
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css' type='text/css' media='all')
        link(data-require='fancybox@2.1.5', data-semver='2.1.5', rel='stylesheet', href='/fancyBox/source/jquery.fancybox.css')
        link(rel='stylesheet' type='text/css' href='/fancyBox/source/jquery.fancybox.css?v=2.1.5' media='screen')
        link(rel='stylesheet', href='/stylesheets/layoutstyle.css' type='text/css' media='all')
        link(rel='stylesheet', href='/stylesheets/ng-img-crop.css' type='text/css' media='all')
        link(rel='stylesheet', href='/angular-ui-grid/ui-grid.min.css' type='text/css' media='all')
        link(rel='stylesheet', href='/angucomplete-alt/angucomplete-alt.css')
        link(rel='stylesheet', href='/stylesheets/style.css' type='text/css' media='all')
        link(rel='stylesheet', href='/stylesheets/orgChart.css' type='text/css' media='all')

        script(data-require='jquery', data-semver='2.2.0', src='/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='/fancyBox/source/jquery.fancybox.js?v=2.1.5')
        script(src='/bootstrap/dist/js/bootstrap.min.js')
        script(src='/angular/angular.min.js')
        script(src='/lib/angular-drag-and-drop-lists.min.js')
        script(src='/angular-ui-grid/ui-grid.min.js')
        script(src='/javascripts/ng-img-crop.js' type='text/javascript')        
        script(src='/angucomplete-alt/dist/angucomplete-alt.min.js')
        script(src='/jquery.scrollTo/jquery.scrollTo.min.js')
        script(src='/javascripts/gluserApp.js' type='text/javascript')
        script(src='/javascripts/orgChartController.js' type='text/javascript')
        script(src='/javascripts/orgChartService.js' type='text/javascript')

        header(data-ng-controller='LogoutController' style='z-index: 2; box-shadow:0px 0px 15px 2px rgba(0, 0, 0, 0.35); position: fixed; width: 100%; background: #cec4e1; text-align: left;  margin-top: -50px; margin-bottom: 10px; padding: 0;height:50px; color: white; font-family: sitka; font-weight: bold; ')
            a(href='/', title='Home', rel='', style='text-decoration: none; margin-left: 80px; color: #734c9e; float="left";  width="20%"; font-size: 35px;')='gluser'
            a(data-ng-show='mkVisible' href='/logout', style="width=80%; float: right; margin-top: 29px; color: purple; text-decoration: none; font-size: 16px;margin-right: 20px;")='Logout'

    body(style='background: #734c9e;')
        block content
